In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [4]:
path = 'high_freq/high_freq/house_3/current_1.dat'

df_ = pd.read_csv(path, sep=" ", header=None)
# data.columns = ["Time", "Cycles"]

In [13]:
data.rename(columns={0:'Time'}, inplace=True)
data.rename(columns={1:'Cycles'}, inplace=True)
data.head()

,Time,Cycles,2,3,4,5,6,7,8,9,...,267,268,269,270,271,272,273,274,275,276
0,1.302922e+09,1782.0,-0.017231,-0.017167,-0.017059,-0.017008,-0.017104,-0.017163,-0.017450,-0.017587,...,-0.017431,-0.017421,-0.017433,-0.017398,-0.017257,-0.017344,-0.017262,-0.017277,-0.017192,-0.017232
1,1.302922e+09,1782.0,-0.017288,-0.017300,-0.017320,-0.017308,-0.017248,-0.017345,-0.017636,-0.017700,...,-0.017539,-0.017615,-0.017604,-0.017637,-0.017505,-0.017600,-0.017512,-0.017387,-0.017450,-0.017289
2,1.302931e+09,2760.0,0.002427,0.007893,0.020264,0.037044,0.059954,0.139391,0.195261,0.231653,...,-0.131324,-0.208694,-0.192772,-0.104762,-0.070186,-0.036816,-0.027137,-0.012471,-0.003119,0.002425
3,1.302931e+09,2065.0,0.004701,0.008471,0.022125,0.040235,0.063376,0.143110,0.198713,0.237631,...,-0.131911,-0.212030,-0.197415,-0.107624,-0.073997,-0.036811,-0.027118,-0.013915,-0.003341,0.004708
4,1.302931e+09,206.0,0.002921,0.006746,0.021267,0.042351,0.065329,0.144688,0.197718,0.238668,...,-0.216036,-0.261511,-0.158430,-0.126622,-0.074224,-0.036602,-0.027803,-0.014041,-0.005268,0.002964

In [14]:
data['timestamp'] = data['Time'].astype("datetime64[s]")
data = data.set_index(data['timestamp'].values)
data.head()

,Time,Cycles,2,3,4,5,6,7,8,9,...,268,269,270,271,272,273,274,275,276,timestamp
2011-04-16 02:51:20,1.302922e+09,1782.0,-0.017231,-0.017167,-0.017059,-0.017008,-0.017104,-0.017163,-0.017450,-0.017587,...,-0.017421,-0.017433,-0.017398,-0.017257,-0.017344,-0.017262,-0.017277,-0.017192,-0.017232,2011-04-16 02:51:20
2011-04-16 02:51:49,1.302922e+09,1782.0,-0.017288,-0.017300,-0.017320,-0.017308,-0.017248,-0.017345,-0.017636,-0.017700,...,-0.017615,-0.017604,-0.017637,-0.017505,-0.017600,-0.017512,-0.017387,-0.017450,-0.017289,2011-04-16 02:51:49
2011-04-16 05:11:26,1.302931e+09,2760.0,0.002427,0.007893,0.020264,0.037044,0.059954,0.139391,0.195261,0.231653,...,-0.208694,-0.192772,-0.104762,-0.070186,-0.036816,-0.027137,-0.012471,-0.003119,0.002425,2011-04-16 05:11:26
2011-04-16 05:12:12,1.302931e+09,2065.0,0.004701,0.008471,0.022125,0.040235,0.063376,0.143110,0.198713,0.237631,...,-0.212030,-0.197415,-0.107624,-0.073997,-0.036811,-0.027118,-0.013915,-0.003341,0.004708,2011-04-16 05:12:12
2011-04-16 05:12:46,1.302931e+09,206.0,0.002921,0.006746,0.021267,0.042351,0.065329,0.144688,0.197718,0.238668,...,-0.261511,-0.158430,-0.126622,-0.074224,-0.036602,-0.027803,-0.014041,-0.005268,0.002964,2011-04-16 05:12:46

In [15]:
data.drop(['Time'], axis=1, inplace=True)
data.head()

,Cycles,2,3,4,5,6,7,8,9,10,...,268,269,270,271,272,273,274,275,276,timestamp
2011-04-16 02:51:20,1782.0,-0.017231,-0.017167,-0.017059,-0.017008,-0.017104,-0.017163,-0.017450,-0.017587,-0.017528,...,-0.017421,-0.017433,-0.017398,-0.017257,-0.017344,-0.017262,-0.017277,-0.017192,-0.017232,2011-04-16 02:51:20
2011-04-16 02:51:49,1782.0,-0.017288,-0.017300,-0.017320,-0.017308,-0.017248,-0.017345,-0.017636,-0.017700,-0.017679,...,-0.017615,-0.017604,-0.017637,-0.017505,-0.017600,-0.017512,-0.017387,-0.017450,-0.017289,2011-04-16 02:51:49
2011-04-16 05:11:26,2760.0,0.002427,0.007893,0.020264,0.037044,0.059954,0.139391,0.195261,0.231653,0.301852,...,-0.208694,-0.192772,-0.104762,-0.070186,-0.036816,-0.027137,-0.012471,-0.003119,0.002425,2011-04-16 05:11:26
2011-04-16 05:12:12,2065.0,0.004701,0.008471,0.022125,0.040235,0.063376,0.143110,0.198713,0.237631,0.309744,...,-0.212030,-0.197415,-0.107624,-0.073997,-0.036811,-0.027118,-0.013915,-0.003341,0.004708,2011-04-16 05:12:12
2011-04-16 05:12:46,206.0,0.002921,0.006746,0.021267,0.042351,0.065329,0.144688,0.197718,0.238668,0.306374,...,-0.261511,-0.158430,-0.126622,-0.074224,-0.036602,-0.027803,-0.014041,-0.005268,0.002964,2011-04-16 05:12:46

In [16]:
path = 'high_freq/high_freq/house_3/current_1.dat'
df_h3_curr1 = pd.read_csv(path, sep=" ", header=None)
df_h3_curr1.rename(columns={0:'Time'}, inplace=True)
df_h3_curr1.rename(columns={1:'Cycles'}, inplace=True)
df_h3_curr1['timestamp'] = df_h3_curr1['Time'].astype("datetime64[s]")
df_h3_curr1 = df_h3_curr1.set_index(df_h3_curr1['timestamp'].values)
df_h3_curr1.drop(['Time'], axis=1, inplace=True)

path = 'high_freq/high_freq/house_3/current_2.dat'
df_h3_curr2 = pd.read_csv(path, sep=" ", header=None)
df_h3_curr2.rename(columns={0:'Time'}, inplace=True)
df_h3_curr2.rename(columns={1:'Cycles'}, inplace=True)
df_h3_curr2['timestamp'] = df_h3_curr2['Time'].astype("datetime64[s]")
df_h3_curr2 = df_h3_curr2.set_index(df_h3_curr2['timestamp'].values)
df_h3_curr2.drop(['Time'], axis=1, inplace=True)

path = 'high_freq/high_freq/house_3/voltage.dat'
df_h3_volt = pd.read_csv(path, sep=" ", header=None)
df_h3_volt.rename(columns={0:'Time'}, inplace=True)
df_h3_volt.rename(columns={1:'Cycles'}, inplace=True)
df_h3_volt['timestamp'] = df_h3_volt['Time'].astype("datetime64[s]")
df_h3_volt = df_h3_volt.set_index(df_h3_volt['timestamp'].values)
df_h3_volt.drop(['Time'], axis=1, inplace=True)

path = 'high_freq/high_freq/house_5/current_1.dat'
df_h5_curr1 = pd.read_csv(path, sep=" ", header=None)
df_h5_curr1.rename(columns={0:'Time'}, inplace=True)
df_h5_curr1.rename(columns={1:'Cycles'}, inplace=True)
df_h5_curr1['timestamp'] = df_h5_curr1['Time'].astype("datetime64[s]")
df_h5_curr1 = df_h5_curr1.set_index(df_h5_curr1['timestamp'].values)
df_h5_curr1.drop(['Time'], axis=1, inplace=True)

path = 'high_freq/high_freq/house_5/current_2.dat'
df_h5_curr2 = pd.read_csv(path, sep=" ", header=None)
df_h5_curr2.rename(columns={0:'Time'}, inplace=True)
df_h5_curr2.rename(columns={1:'Cycles'}, inplace=True)
df_h5_curr2['timestamp'] = df_h5_curr2['Time'].astype("datetime64[s]")
df_h5_curr2 = df_h5_curr2.set_index(df_h5_curr2['timestamp'].values)
df_h5_curr2.drop(['Time'], axis=1, inplace=True)

path = 'high_freq/high_freq/house_5/voltage.dat'
df_h5_volt = pd.read_csv(path, sep=" ", header=None)
df_h5_volt.rename(columns={0:'Time'}, inplace=True)
df_h5_volt.rename(columns={1:'Cycles'}, inplace=True)
df_h5_volt['timestamp'] = df_h5_volt['Time'].astype("datetime64[s]")
df_h5_volt = df_h5_volt.set_index(df_h5_volt['timestamp'].values)
df_h5_volt.drop(['Time'], axis=1, inplace=True)

In [17]:
df_h3_curr2.head()

,Cycles,2,3,4,5,6,7,8,9,10,...,268,269,270,271,272,273,274,275,276,timestamp
2011-04-16 02:51:20,1782.0,0.013275,0.013257,0.013399,0.013447,0.013479,0.013486,0.013211,0.013200,0.013125,...,0.012910,0.012914,0.013005,0.013098,0.013110,0.013095,0.013255,0.013161,0.013273,2011-04-16 02:51:20
2011-04-16 02:51:49,1782.0,0.012948,0.013030,0.012970,0.013087,0.013138,0.013141,0.012844,0.012700,0.012762,...,0.012526,0.012457,0.012624,0.012727,0.012608,0.012772,0.012820,0.012769,0.012948,2011-04-16 02:51:49
2011-04-16 05:11:26,2760.0,0.010864,0.077678,0.134422,0.190032,0.240667,0.288123,0.330805,0.373830,0.409350,...,-0.875025,-0.762005,-0.647368,-0.531156,-0.415636,-0.301972,-0.191778,-0.084063,0.010859,2011-04-16 05:11:26
2011-04-16 05:12:12,5830.0,0.021219,0.085437,0.138456,0.192836,0.240279,0.286005,0.326347,0.367732,0.401137,...,-0.850368,-0.738046,-0.624154,-0.508765,-0.395841,-0.284780,-0.176203,-0.070746,0.021222,2011-04-16 05:12:12
2011-04-16 05:13:49,2187.0,0.027409,0.090737,0.142872,0.196044,0.242590,0.285997,0.326040,0.365007,0.396899,...,-0.843179,-0.730964,-0.616255,-0.500366,-0.387588,-0.276184,-0.169143,-0.064239,0.027411,2011-04-16 05:13:49